h1 { 
  color: #4B4F50;
  font-family: sans-serif;
}

.col .s2 {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 70px;
  font-size: 65px;
  background-color: tomato;
  color: white;
  padding: 0;
}

.gameBoard {
  margin-top: 5%;
  text-align: center;
}